/*
The entire card has a solid 1px border that is lightblue.
The card title has a dotted 1px border that is lightgray.
The title and product image are centered.
Notice that the text for the description in the image is justified.
The text for the product specification details and pricing details is bold.
The availability element extends the full width of the card, with a dark grey background and yellow text.

***** Personal Challenge *****
-Responsive design

*/

img {
	max-width: 150px;
	max-height: 100px;
}